.color_section {
  padding: 80px 0 0;
}

.set_color {
  font: 2em/1.5 var(--font_m);
  color: var(--white);
  text-align: center;
}

.form-label {
  color: var(--white);
}

.input_form {
  border: 1px solid #6c757d;
  border-radius: 5px 5px 5px 5px;
  background-color: transparent;
  outline: none;
  color: var(--white);
  padding: 3px 15px;
  width: 91%;
}

.pick_color {
  border: 1px solid #6c757d;
  border-radius: 5px;
  margin-top: 5px;
  padding: 8px;
  position: absolute;
  width: 100%;
  background: #333;
  z-index: 11;
  height: 220px;
  overflow-y: scroll;
}

.form-check {
  display: flex !important;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.form-check-label {
  color: var(--white);
}

.color_choose_center {
  width: 400px;
  margin: 0 auto;
  position: relative;
}
.color_choose_center::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 200px 130px #c026d3;
  z-index: -1;
}

.dropdown_code {
  margin: 15px 0;
}

.button_display {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.btn_set {
  padding: 5px 10px;
  width: 150px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 1s;
  border-radius: 5px;
}
.save_button {
  background-color: #1976d2;
  border: 1px solid #1976d2;
  color: var(--white);
  transition: 1s;
}
.save_button:hover {
  background-color: transparent;
  border: 1px solid #2df42d;
  color: #2df42d;
}

.cancel_button {
  background-color: #bababa;
  border: 1px solid #bababa;
  color: var(--white);
  transition: 1s;
}
.cancel_button:hover {
  background-color: transparent;
  border: 1px solid #d63240;
  color: #d63240;
}
