.logo {
  width: 130px;
  position: relative;
  top: 10px;
}
.cus-container {
  /* background-color: #09090b; */
  background: #09090b url("../../../public/assets/logo/square.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.bg_contain {
  background: #09090b url("../../../public/assets/logo/square.svg");
}

.form-box {
  width: 400px;
  height: 580px;
  background-color: rgb(255, 255, 255, 0.03);
  border: 2px solid #2f2f2f;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
}

.form-box:hover,
.form-box:focus {
  border: 2px solid #2df42d;
  transition: 1s;
}

/* .form-box::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 15px;
  top: -15px;
  background-color: #383838;
  z-index: 0;
  border-radius: 10px 10px 0px 0px;
} */

.light_set::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 200px 130px #c026d3;
}

.form_control {
  background-color: transparent;
}

.signin {
  font: 1.6em/1.5 var(--font_m);
  text-transform: uppercase;
  color: #fff;
  position: relative;
  transform: rotate(-2deg);
  margin: 0 0 20px;
}
.signin::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #2df42d;
  bottom: 0;
  border-radius: 10px;
}

button {
  margin-top: 40px;
  margin-bottom: 10px;
}

.message {
  width: 100%;
  text-align: right;
  margin: 10px 0 0;
}

.message_set {
  width: 100%;
  text-align: right;
}
.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: red;
  cursor: pointer;
}

.input_group {
  display: flex;
  flex-direction: column;
}
.input-group {
  flex-wrap: inherit !important;
}
.input-group-text {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.login_btn {
  width: 100%;
  padding: 12px !important;
  font: 1em/1.5 var(--font_m) !important;
}

.one_div {
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

.error {
  font: 1em/2 var(--font_r);
  color: #ff4040;
  height: 35px;
}

.font_set,
.pass_set {
  font-size: 1.8em;
  color: #fff;
}

.pass_set {
  cursor: pointer;
}

.pass_set:hover {
  color: #ff07e4;
}

.button_div {
}

.input_cloud {
  background: transparent;
  padding: 0 10px;
  width: 100%;
  font: 1.2em/1.5 var(--font_r);
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  border: none;
}

.forgot_pass {
  margin: 10px 0;
  font: 1em/1.5 var(--font_r);
  color: #fff;
}

.forgot_set {
  font: 1em/1.5 var(--font_r);
  color: #fff;
}

.forgot_set:hover {
  color: #ff07e4;
}

.register_set {
  font: 1em/1.5 var(--font_r);
  color: #fff;
}

.register_para {
  color: #ff07e4;
}

.register_para:hover {
  color: #bababa;
}

.sign_para {
  color: #fff;
  font: 1em/1.2 var(--font_r);
  width: 75%;
  margin: 5px auto 25px auto;
  text-align: center;
}

/* back go */
.back_to {
  position: absolute;
  right: 10px;
  top: 10px;
}
.goto {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.go_back {
  font-size: 40px;
  color: #c026d3;
  transition: 1s;
  cursor: pointer;
}

.go_back:hover {
  color: #2df42d;
  transition: 1s;
}

.logout_icon {
  font-size: 35px;
  color: #c026d3;
  transition: 1s;
  cursor: pointer;
  padding: 6px;
}

.dash_icon {
  font-size: 40px;
  color: #c026d3;
  transition: 1s;
  cursor: pointer;
}

.content_container {
  max-width: 1200px;
  margin: 0px auto;
}

.navbar_show {
  background-color: #09090b;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 2px 4px 15px #2b2b2b;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 65px;
}

.goto_colors {
  padding: 3px 20px 6px;
  border-radius: 40px;
  border: 2px solid #c026d3;
  color: #c026d3;
  transition: 1s;
}

.goto_colors:hover {
  border: 2px solid #2df42d;
  color: #2df42d;
  background-color: transparent;
  transition: 1s;
}

.goto_color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_view {
  padding-top: 80px;
}

.home_slider {
  width: 80%;
  margin: 0px auto;
  position: relative;
}
.home_slider:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 200px 130px #c026d3;
}

.header_para {
  font: 1.1em/1.5 var(--font_r);
  color: var(--white);
}

.how_header {
  font: 1.8em/1.5 var(--font_b);
  color: var(--white);
  margin-bottom: 30px;
}

.step_para {
  color: var(--white);
  font: 1.1em/1.5 var(--font_r);
}

.circle_one {
  text-align: center;
}

.circle_set {
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
}
.c_one {
  background-image: linear-gradient(183deg, #a200fd 0%, #01ecdf 100%);
}
.c_two {
  background-image: linear-gradient(183deg, #f500fd 0%, #8a35f0 70%);
}
.c_three {
  background-image: linear-gradient(183deg, #00fd9e 0%, #43846c 100%);
}

.how {
  padding: 50px 0;
}

.line_set {
  position: relative;
}

