/* Desktop styles */
@media (min-width: 1024px) {
  .home-wrapper {
    width: 100%;
    background-size: cover;
    background-blend-mode: difference;
  }

  .carousel_image {
    width: 100%;
    /* height: 950px; */
    /* background: red; */
  }

  .carousel_image img {
    width: 100%;
  }
}

/* Tablet styles */
@media (max-width: 1023px) and (min-width: 768px) {
  /* Add your tablet-specific styles here */
  /* Add your desktop-specific styles here */
  .home-wrapper {
    width: 100%;
    /* height: 350px; */
    /* background: url('https://i.imgur.com/vHHl8Xk.jpg'); */
    background-size: cover;
    background-blend-mode: difference;
  }

  .carousel_image {
    width: 100%;
    /* height: 500px; */
    /* background: red; */
  }

  .carousel_image img {
    width: 100%;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  /* Add your mobile-specific styles here */
  /* Add your desktop-specific styles here */
  .home-wrapper {
    width: 100%;
    /* height: 350px; */
    /* background: url('https://i.imgur.com/vHHl8Xk.jpg'); */
    background-size: cover;
    background-blend-mode: difference;
  }

  .carousel_image {
    /* width: 100%; */
    height: 350px;
    /* background: red; */
  }

  .carousel_image img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .form-box {
    margin: 10px;
    position: relative;
    top: 150px;
  }
  .logo {
    width: 100px;
    position: relative;
    top: 0px;
  }
}
